@import "tailwindcss";
/* Add this in your main style file */
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  background: #ffffff;

  font-family: "Inter", sans-serif;

  overflow-x: hidden !important;
}


@keyframes shine {
  0% {
    left: -100%;
  }
  100% {
    left: 120%;
  }
}

.animate-shine {
  animation: shine 2.5s linear infinite;
}

.hero-section {
  padding: 1.5rem;
  position: relative;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2em;
}
h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.2em;
}
h3 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.2em;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2em;
}
h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2em;
}
p {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6rem;
}

.text-primary {
  color: #013efe;
}
.bg-primary {
  background-color: #013efe;
}
.ring-primary {
  color: #013efe;
}
.border-primary {
  color: #013efe;
}
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important; /* arrow color */
  stroke: #fff !important; /* sometimes needed */
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #fff !important; /* arrow icon color */
  font-size: 18px;
}
.text-second {
  color: #4a5565;
}

.text-404 {
  font-size: 7rem !important;
}

.marquee-track {
  display: flex;
  width: max-content;
}

.marquee-item {
  flex-shrink: 0;
}

@keyframes marqueeScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marqueeReverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.hero-section {
  padding: 1.5rem;
}

@media only screen and (max-width: 1023px) {
  .hero-section {
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (max-width: 600px) {
  .-mt-16 {
    margin-top: -5rem;
  }
  h1 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.4em;
  }
  h2 {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.4em;
  }
  h3 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.4em;
  }
  h4 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4em;
  }
  h5 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
  }

  .content-top {
    top: 3rem;
  }
}

.btn-white {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.btn-white:hover {
  background-color: #013efe;
  position: relative;
  border: 1px solid #fff;
  line-height: 1.25;
  border-radius: 25rem;
  padding: calc(0.85rem - 1px) calc(2rem - 1px);
  font-size: 0.9rem;
  font-weight: 600;
  color: #fff;
}

.btn-primary {
  background-color: #013efe;
  border: 1px solid #013efe;
  border-radius: 25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.btn-primary:hover {
  background-color: #ffffff;
  position: relative;
  border: 1px solid #ffffff;
  line-height: 1.25;
  border-radius: 25rem;
  padding: calc(0.85rem - 1px) calc(2rem - 1px);
  font-size: 0.9rem;
  font-weight: 600;
  color: #000000;
  box-shadow: 0 6px 18px rgb(21 34 53 / 30%);
}

.btn-white-outline {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.btn-primary-outline {
  background-color: transparent;
  border: 1px solid #013efe;
  border-radius: 25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #013efe;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(2rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.pulse-effect {
  -webkit-animation: pulse 1.6s infinite;
  animation: pulse 1.6s infinite;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 rgba(255, 255, 255, 0.6);
  }

  100% {
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 rgba(255, 255, 255, 0.6);
  }

  100% {
    box-shadow: 0 0 0 16px rgba(255, 255, 255, 0);
  }
}

.bg-light {
  background: linear-gradient(
    to top,
    #ffffff 0%,
    /* #f2f5ff 50%, */ #013efe 100%
  );
}

.bg-light-blue {
  background-color: #a7b6e6;
}
